.main {
  margin: auto;
}

.header {
  font-size: 32px;
  font-weight: bold;
  padding: 48px 0;
  text-align: center;
}

.container {
  max-width: 1028px;
  min-width: 512px;
  background-color: white;
  margin: auto;
  padding: 64px;
  margin: 0 24px 24px;
  border-radius: 24px;
}

.form {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 48px;
}

.submitComplete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.textInput {
  height: 48px;
  padding: 0 24px;
  border: 2px solid #d4d8e4;
  border-radius: 24px;
  font-size: 16px;
  color: #666;
}

.errorMessage {
  text-align: center;
  font-size: 14px;
  color: #ff6347;
}

@media screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
