.button {
  font-size: 20px;
  font-weight: bold;
  margin: 16px 24px;
  padding: 16px 24px;
  color: #fff;
  background-color: #abccdd;
  border-radius: 24px;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: #75a5b8;
  }
}
